---
import { site } from '../data';
import services from '../services';
---

<div class="container-fluid relative">
    <div class="grid grid-cols-1">
        <div class="relative w-full border-0 leading-[0] grayscale">
            <iframe
                src="https://maps.google.com/maps?q=%D0%9C%D0%BE%D1%81%D0%BA%D0%B2%D0%B0&t=&z=9&ie=UTF8&iwloc=&output=embed"
                style="border:0"
                class="h-[500px] w-full"
                allowfullscreen
            >
            </iframe>
        </div>
        <div class="absolute left-0 right-0 top-1/2 -translate-y-1/2 text-center">
            <a
                href="#"
                data-modal-toggle="contactModal"
                class="btn btn-icon btn-lg rounded-full border-indigo-600 bg-indigo-600 text-white hover:border-indigo-700 hover:bg-indigo-700"
            >
                <i class="uil uil-phone"></i>
            </a>
        </div>
    </div><!--end grid-->
</div><!--end container-->
<!-- Footer Start -->
<footer class="footer relative bg-dark-footer text-gray-200 dark:text-gray-200">
    <div class="container max-w-full">
        <div class="grid grid-cols-12">
            <div class="col-span-12">
                <div class="px-0 py-[60px]">
                    <div class="grid grid-cols-1 gap-[30px] md:grid-cols-12">
                        <div class="md:col-span-12 lg:col-span-3">
                            <a href="/" class="text-[22px] focus:outline-none">
                                {site.brand}
                            </a>
                            <p class="mt-6 text-gray-300">
                                {site.description}
                            </p>
                        </div><!--end col-->

                        <div class="md:col-span-3 lg:col-span-3">
                            <h5 class="font-semibold tracking-[1px] text-gray-100">Услуги</h5>
                            <ul class="footer-list mt-6 list-none">
                                {
                                    services
                                        .slice(0, Math.ceil(services.length / 2))
                                        .map((service: { title: string; slug: string }) => (
                                            <li class="mt-[10px]">
                                                <a
                                                    href={`/services/${service.slug}`}
                                                    class="text-gray-300 duration-500 ease-in-out hover:text-gray-400"
                                                >
                                                    <i class="uil uil-angle-right-b me-1" />
                                                    {service.title}
                                                </a>
                                            </li>
                                        ))
                                }
                            </ul>
                        </div><!--end col-->

                        <div class="md:col-span-3 lg:col-span-3">
                            <h5 class="font-semibold tracking-[1px] text-gray-100">Услуги</h5>
                            <ul class="footer-list mt-6 list-none">
                                {
                                    services
                                        .slice(Math.ceil(services.length / 2))
                                        .map((service: { title: string; slug: string }) => (
                                            <li class="mt-[10px]">
                                                <a
                                                    href={`/services/${service.slug}`}
                                                    class="text-gray-300 duration-500 ease-in-out hover:text-gray-400"
                                                >
                                                    <i class="uil uil-angle-right-b me-1" />
                                                    {service.title}
                                                </a>
                                            </li>
                                        ))
                                }
                            </ul>
                        </div><!--end col-->

                        <div class="md:col-span-4 lg:col-span-3">
                            <h5 class="font-semibold tracking-[1px] text-gray-100">Навигация</h5>
                            <ul class="footer-list mt-6 list-none">
                                <li>
                                    <a
                                        href="/"
                                        class="text-gray-300 duration-500 ease-in-out hover:text-gray-400"
                                    >
                                        <i class="uil uil-angle-right-b me-1"></i> Главная
                                    </a>
                                </li>
                                <li class="mt-[10px]">
                                    <a
                                        href="/about"
                                        class="text-gray-300 duration-500 ease-in-out hover:text-gray-400"
                                    >
                                        <i class="uil uil-angle-right-b me-1"></i> О нас
                                    </a>
                                </li>
                                <li class="mt-[10px]">
                                    <a
                                        href="/contact"
                                        class="text-gray-300 duration-500 ease-in-out hover:text-gray-400"
                                    >
                                        <i class="uil uil-angle-right-b me-1"></i> Связаться
                                    </a>
                                </li>
                            </ul>
                        </div><!--end col-->
                    </div><!--end grid-->
                </div><!--end col-->
            </div>
        </div><!--end grid-->
    </div><!--end container-->

    <div class="border-t border-slate-800 px-0 py-[30px]">
        <div class="container text-center">
            <div class="grid items-center md:grid-cols-2">
                <div class="text-center md:text-left">
                    <p class="mb-0">
                        © <script is:inline>
                            document.write(new Date().getFullYear());
                        </script>
                        {site.brand}. Дизайн и

                        <a href="https://jsix.ru" target="_blank" class="text-reset">
                            создание сайта - jsix.ru
                        </a>
                        
                    </p>
                </div>
            </div><!--end grid-->
        </div><!--end container-->
    </div>
    <!--end footer-->
    <!-- Footer End -->
</footer>
